* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
font:14px Arial;
color:#000;
}

.container {
    position: relative;
    width: 100% ;  /* chiều dài tăng */
    height: 300px;  /* chiều cao giữ nguyên */
}
img {
    width: 100% ;
    height: 100%;
    object-fit: cover; /* để ảnh không bị méo nếu cần */
    display: block;
}

ul.menu {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5); /* nếu muốn nền mờ dễ nhìn chữ */
    list-style: none; /* bỏ dấu chấm đầu dòng nếu muốn */
    font-weight: bold; 
}

ul.menu li {
    display: inline;
    margin-right: 50px;
    
}

.logo {
    position: absolute;
    top: 0;
    right: 0;
    height: 30%;
    object-fit: cover;
    display: block;

}

p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 38px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    color:white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
    z-index: 2;
    background: linear-gradient(to right, white, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product {
    position: relative;
    z-index: 1;
    padding: 20px 100px;
    margin: -40px 100px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.product-1 {
    width: 20%;
    margin: 10px;
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 10px;
    /* background: url(Image/logo-2.jpg); */
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
}

.product-1 img {
    width: 100%;
    height: 200px;
    max-height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.product-list {
    display: flex;             
    margin: 0;
    justify-content: space-between;
    /* flex-wrap: nowrap;           Không cho phép xuống dòng */
    gap : 20px;

}

.review {
    position: relative;
    background: #fff;
    z-index: 1;
    padding: 20px 100px;
    margin: 100px 100px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.review-list-1 {
    display: flex;
}

.review-list-1-1 {
    margin: 20px 40px;
    width: 50%;
    
}

.review-list-1-1 img {

    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.review-list-2 {
    display: flex;
    position: relative;
    z-index: 1;
}

.review-list-1-2 {
    margin: 20px 40px;
    justify-content: space-between;
    width: 100%;
}

.review-list-1-2 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.footer {
    display: flex;
    background: linear-gradient(to right, white, green);
    justify-content: space-between;
    padding: 30px 100px;
}

.footer-1 {
    width: 25%;
}

.footer-ul li {
    margin: 10px 0;
}

.review h1 {
    flex-wrap: nowrap;
}

a {
    text-decoration: none;
    color : #000;
    transition: all 0.3 ease;
}

a:hover {
    color: green;
    /* transform: translateX(5px);  Di chuyển nhẹ sang phải  */
}

.footer h1 {
    text-align: left;
}